[package]
name = "caldav"
version = "0.1.0"
authors = ["Sanpi <sanpi@homecomputing.fr>"]
edition = "2021"

[dependencies]
attohttpc = "0.18"
ical = "0.7"
sxd-document = "0.3"
sxd-xpath = "0.4"
thiserror = "1.0"
url = "2.0"

[dev-dependencies]

[dev-dependencies.clap]
version = "3.0"
features = ["derive"]
